body 
{
margin: 0;
 font-family:karla; }

.header {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: blueviolet;
    animation-name: fadeIn;
    animation-duration: 1s;
}
ul {
    list-style: none;
    text-align: center;

}

li {
    display: inline;
    font-size: 22px;
    cursor: pointer;
}

li:not(:last-child) {
    margin-right: 25px;
}


.navbar {
	position: absolute;
	width: 320px;
	height: 100%;
	/*background-color: blueviolet;*/
}
label {
	cursor: pointer;
	user-select: none;
}

.slider {
    width: 100%;
    height: 500px;
}


}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bt {
	 position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: inherit;
   animation: spin 1s;
}
.button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
@keyframes spin {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}

.bottom {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: blueviolet;
    animation-name: fadeIn;
    animation-duration: 1s;
    height: 500px;
}

