@font-face { font-family: Karla-Bold;  src: url('Karla-Bold.ttf'); } 

body {
    margin: 0;
    font-family: 'Karla-Bold';
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blueviolet;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.logo {
    height: 100px;
}

.header-nav {
    display: flex;

}

.header-items {
    position: relative;
}

.header-item {
    font-size: 22px;
    cursor: pointer;
}

.header-item-1:hover {
    border-bottom: 1px solid red;
}

.header-item-1:hover ~ .header-item-1-dropdown {
    visibility: visible;
}

.header-item-2:hover ~ .header-item-1-dropdown {
    visibility: visible;
}

.header-item-1:hover ~ .header-item-2-dropdown {
    visibility: visible;
}

.header-item-2:hover ~ .header-item-2-dropdown {
    visibility: visible;
}
.header-item-3:hover ~ .header-item-2-dropdown {
    visibility: visible;
}

.header-item-3:hover ~ .header-item-2-dropdown {
    visibility: visible;
}
.header-item-1-dropdown {
    width: 200px;
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: -50%;
    animation: zoomIn 1s liner;
    z-index: 1;
}
.header-item-2-dropdown {
    width: 200px;
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: -50%;
    animation: zoomIn 1s liner;
    z-index: 1;
}

.header-item-3-dropdown {
    width: 200px;
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: -50%;
    animation: zoomIn 1s liner;
    z-index: 1;
}

.header-item-1-dropdown > ul {
    margin: 0;
    padding: 0;
    padding: 20px 15px;
}

.header-item-1-dropdown > ul > li {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.header-item-2-dropdown > ul {
    margin: 0;
    padding: 0;
    padding: 20px 15px;
}

.header-item-2-dropdown > ul > li {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.header-item-3-dropdown > ul {
    margin: 0;
    padding: 0;
    padding: 20px 15px;
}

.header-item-3-dropdown > ul > li {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.header-item:not(:last-child) {
    margin-right: 60px;
}


li {
    display: inline;
    color: #55375a;
}

.nav-label {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    cursor: pointer;
}

#nav {
    display: none;
}

.btn btn-warning{ 
    position: ;
}

.navbar {
    position: absolute;
    width: 100%;
}
    

.slider {
    width: 100%;
    height: 50vh;
    position: relative;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-button {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    animation: bottomUp .7s linear;
    transition: all .2s;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px #423b33;
}

.slider-button:active {
    box-shadow: 0px 5px 10px #423b33;
    transform: translate(-50%, -45%);
}

.back {
    width: 100%;
}
@keyframes bottomUp {
    0% {
        top: 54%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
     }
} 


.title {
    color: white;
    text-align: center;
    font-size: 100px;
    margin-top: 150px;
    opacity: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.btn {
    background-color: #00ffbf;
    border: none;
    padding: 30px 50px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #55375a;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    animation-name: zoomInFadeIn;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.btn:hover
{
      background-color: blueviolet;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.category-container {
    width: 100%;

}
.category-img {
    display: flex;
    z-index: 12;
    cursor: pointer;
}
.man,
.woman,
.kid {
    width: calc( 100% / 3);
    height: 40vh;
    display: flex;

}

.footer {
    width: 100%;
    height: 30vh;
    background-color: blueviolet;
    display: block;
}

.ftr {
    width: 100px;
    height: 100px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container {
            width: 85%;
            height: 80vh;
            margin: 0 auto;
            outline: none;
            display: grid;
            grid-template-columns: [col-start] 1fr [col-2] 1fr [col-end] 1fr;
            grid-template-rows: repeat(3, 350px);
        }
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5vh solid black;
            border-radius: none;
            background-color: transparent;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 10px;
        }
.one,
.two,
.three {
    display: flex;
            
}
        .four,
        .five,
        .six {
            display: flex;
            height: 9vh;
        }

        .item:hover {
            color: white;
        }
      
        li {
            display: inline;
            list-style: none;
        }

        .ggg {
             opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
        }
.container2 {
  position: relative;
  width: 50%;
}

.image {
  opacity: ;
  display: block;
  width: 400px;
  height: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 200px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.container2:hover .image {
  opacity: 0.6;
}

.container2:hover .middle {
  opacity: 1;
}

.text {
  background-color: blueviolet;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 20px;
}

        ----------------------------------------------------------

@keyframes zoomIn {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomInFadeIn {
    0% {
        transform: translate(-50%, -50%);
        top: 48%;
        opacity: 0;
     }
     
     100% {
        transform: translate(-50%, -50%);
        top: 50%;
        opacity: 1;
     }
} 






.container img {
  width: 300px;
  height: 300px;
}
.container {
    left: 10%;
    right: 10%;
padding: 10px;
}

.btn1 {
   position: absolute;
    background-color: white;
    top: 860px;
    left: 450px;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    
}

.btn2 {
   position: absolute;
    background-color: white;
    top: 860px;
    left: 750px;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
   
}

.btn3 {
   position: absolute;
    background-color: white;
    top: 860px;
    left: 1050px;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    
}

.btn3:hover
{
      background-color: blueviolet;
}
.btn1:hover
{
      background-color: blueviolet;
}
.btn2:hover
{
      background-color: blueviolet;
}

